body {
  height:100%;
  width:100%;
  font-family: 'Cabin Sketch', cursive;
}

/*#home*/
header{
  background-image: url('../assets/img/jan-kahanek-184676 (1).jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  height: 900px;
}

.nav-wrapper, .page-footer{
  background: #fdaeae;
}

nav ul a, .link-amarillo{
  color: #f6e2b3;
}

.icono{
  margin: -6px;
}

.iconos-redes{
  display: inline;
  margin-left: 20px;
}

#mobile-demo{
  color: #f6e2b3;
}

.nombre_principal{
  color: #3f3328;
  margin: 15%;
}

hr{
  display: inline-block;
  width: 50px;
  border: none;
  height: 1px;
  background: #ff8daa;
}

.titulo-seccion{
  color: #ff8daa;
}

.icono-titulo{
  margin: 6px;
}

.horizontal{
  background: #f6e2b3;
}

.imagen-proyecto{
  /*filter: blur(3px);*/
  margin-top: 50px;
}

.titulo-tarjeta{
  color: #7e6651;
  margin-left: 20px;
}

.card-content{
  text-align: justify;
  color: 	#b49982;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  color: #fdaeae;
}

a:hover{
  color: #fff;
  background: none;
}

nav .brand-logo{
  padding: 0 24px;
}

.brand-logo:hover{
  color: #ff8daa;
}

.descripcion-me{
  text-align: justify;
  width: 80%;
  color: #b49982;
  font-size: 20px;
}

.card, .center{
  color: #b49982;
  font-size: 18px;
}

.card-reveal p{
  text-align: justify;
}

.card-content p a {
  color: #fdaeae;
}

.card-content p a:hover{
  color: #ff8daa;
}

.link-amarillo{
  font-size: 19px;
  margin: 10px;
}

#proyectos-cel{
  display: none;
}

.conocimientos-cel{
  display: none;
}

/*media querys*/
@media (max-width: 500px) {
  #proyectos{
    display: none;
  }

  #proyectos-cel{
    display: block;
  }

  .card-title{
    display: flex;
    justify-content: center;
  }

  .conocimientos-compu{
    display: none;
  }
  .conocimientos-cel{
    display: block;
  }
  /*header{
    height: 350px;
  }*/
  /*.nombre_principal{
    margin-top: 80%;
  }*/
  /*.icono-titulo{
    width: 60px;
  }
  h1{
    font-size: 40px;
  }*/
}
